/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Common Styles */

body {
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}



.top-banner-container{
    width: 1300px;
  height: 646px;
  border: 2px solid red;
  
  margin: 10px;
}

/* Top-Banner Style  */

.top-banner {
  width: 1300px;
  height: 646px;
  background-color: #161616;
  border-radius: 20px;
  margin: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding-left: 100px; */
}

.top-banner-title {
  position: relative;
  left: 10%;
  width: 531px;
  height: 424px;
  /* border: 2px solid brown; */
}
.top-banner-title h1 {
  margin: 0;
  font-weight: 700;
  font-size: 58px;
  color: #ffffff;
}

.top-banner .top-banner-title p {
    
  font-family: "Poppins";
  font-style:normal
  
  font-weight: 400;
  font-size: 90%;
  width: 506px;
  height: 78px;
  color: #ffffff;
}

.top-banner-title button{
    font-family:"Poppins";
    background-color: red;
    border-radius: 10px;
    color: #ffffff;
    padding: 2% 4%;
    font-weight: 500;
    font-size:medium;
}

.top-banner-img img {
  margin: 0%;
  position: relative;
  left: 25%;
  top: 18px;
  width: 581px;
  height: 613px;
}


/* -------------
2nd part grid section
-------------------*/

 /* Match side button  */

.match-banner-container{
    /* border: 2px solid purple; */
    width: 1300px;
    height: 660px;
    margin: 5%;
    display: flex;
}   

 .match-button-container {
    background-color: #161616;
    border-radius: 10px;
    width: 212px;
    height: 212px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.match-button-container button{
  font-family:"Poppins";
  width: 152px;
  height: 44px;
  font-weight: 700;
  background-color:aliceblue;
  border-radius: 5px;
  background-color: #ffffff;
  border-color: #ffffff;
}


/* Match Grid View */
.match-grid-view{
  /* border: 2px solid red; */
  width: 1088px;
  padding-left: 20px;
}

.matches {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  padding-left: 5px;
  gap: 10px;
}



.single-match{
  background-color:rgb(246, 242, 236);
  border-radius: 10px;
  /* border: 2px solid green; */
  width: 320px;

}
 .single-match img{
  width: 320px;
  height: 175px;
}
 .transfer-btn {
   padding-left: 10px;

 }
.match-info h3{
  padding-left: 10px;
  margin: 0;

}

.match-schedule-container {
  display: flex;
  justify-content: space-around;
  
  
  
}



 .clock, .comments{
  display: flex;
  padding-right: 90px;
  align-items: center;
}

.fa-clock, .fa-message{
  padding-right: 5px;
  align-items: center;
}

.match-rating-info{
  display: flex;
  justify-content:space-between

}